In [1]:
#SUM all items in a dictionary

d1={
    "india":1,
    "africa":2,
    "usa":3
}
print(sum(d1.values()))

6

In [3]:
#Accesing an element from  dictionary

d2={
    "india":1,
    "africa":2,
    "usa":3
}
x=d2["usa"]
print(x)

3

In [4]:
#Program to concate two dictionaries

d1={
    "india":1,
    "africa":2,
    "usa":3
}
d2={
    "france":4
}
d1.update(d2)
print("Concatenated String=")
print(d1)

Concatenated String=
{'india': 1, 'africa': 2, 'usa': 3, 'france': 4}

In [7]:
# ADD keys

d1={
    "india":1,
    "africa":2,
    "usa":3
}
print(d1)
d1["spain"]=4
print(d1)

{'india': 1, 'africa': 2, 'usa': 3}
{'india': 1, 'africa': 2, 'usa': 3, 'spain': 4}

In [8]:
#Length

d1={
    "india":1,
    "africa":2,
    "usa":3
}
print("length=",len(d1))

length= 3

In [9]:
#Remove

d1={
    "india":1,
    "africa":2,
    "usa":3
}

d1.popitem()                              
print(d1)

{'india': 1, 'africa': 2}